<!DOCTYPE html>

<head>
  <title>Collab | Find your cofounder</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">  
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
  <script src="https://unpkg.com/feather-icons"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="header">
    <!-- <i data-feather="book-open"></i> -->
    <ul class="nav">
      <li>Idee</li>
      <li>Founders</li>
      <li>Login</li>
      <li id="signup">Iscriviti</li>
    </ul>
  </div>
  <div class="content">
	<p>
	    Hai un'idea per una startup ma non le competenze tecniche?</br>Vuoi metterti in contatto con altri studenti appassionati dal mondo imprenditoriale?</br>Sei nel posto giusto
	</p>
  </div>
  <div class="page_title">
    Collab
  </div>
  <div class="search">
      <input type="text" name="search">
    </input>
  </div>
  <div class="block" onclick="sizeup(this)">
      <div class="text">
	  <h2 class="title">Job board per lavori da remoto</h2>
	  <h2 class="meta">Filippo | 11 Aprile 2019</h2>      
	  <div class="tag">Programmatore</div>
      </div>
      <div class="stage">
	  <div class="stage_item" style="background-color:#ff9f51;opacity:0.6"></div>
	  <div class="stage_item"></div>
	  <div class="stage_item"></div>	  
      </div>
  </div>
  <div class="block">
      <div class="text">
	  <h2 class="title">Job board per lavori da remoto</h2>
	  <h2 class="meta">Filippo | 11 Aprile 2019</h2>      
	  <div class="tag">Marketing</div>
      </div>
      <div class="stage">
	  <div class="stage_item" style="background-color:#ff9f51;opacity:0.6"></div>
	  <div class="stage_item"></div>
	  <div class="stage_item"></div>	  
      </div>
  </div>
  <div class="block">
      <div class="text">
	  <h2 class="title">Job board per lavori da remoto</h2>
	  <h2 class="meta">Filippo | 11 Aprile 2019</h2>      
	  <div class="tag">Frontend</div>
      </div>
      <div class="stage">
	  <div class="stage_item" style="background-color:#ff9f51;opacity:0.6"></div>
	  <div class="stage_item" style="background-color:#ff9f51;opacity:0.6"></div>	  
	  <div class="stage_item"></div>	  
      </div>
  </div>
  <div class="block">
      <div class="text">
	  <h2 class="title">Job board per lavori da remoto</h2>
	  <h2 class="meta">Filippo | 11 Aprile 2019</h2>      
	  <div class="tag">Ing. Meccanico</div>
      </div>
      <div class="stage">
	  <div class="stage_item" style="background-color:#ff9f51;opacity:0.6"></div>
	  <div class="stage_item"></div>
	  <div class="stage_item"></div>	  
      </div>
  </div>
  <div class="block">
      <div class="text">
	  <h2 class="title">Job board per lavori da remoto</h2>
	  <h2 class="meta">Filippo | 11 Aprile 2019</h2>      
	  <div class="tag">Ing. Meccanico</div>
      </div>
      <div class="stage">
	  <div class="stage_item" style="background-color:#ff9f51;opacity:0.6"></div>
	  <div class="stage_item" style="background-color:#ff9f51;opacity:0.6"></div>	  
	  <div class="stage_item"></div>	  
      </div>
  </div>
  <div class="block">
      <div class="text">
	  <h2 class="title">Job board per lavori da remoto</h2>
	  <h2 class="meta">Filippo | 11 Aprile 2019</h2>      
	  <div class="tag">Ing. Meccanico</div>
      </div>
      <div class="stage">
	  <div class="stage_item" style="background-color:#ff9f51;opacity:0.6"></div>
	  <div class="stage_item" style="background-color:#ff9f51;opacity:0.6"></div>	  
	  <div class="stage_item"></div>	  
      </div>
  </div>
  <div class="footer">
      <ul>
	<li><a href="index.html">About</a></li>
	<li><a href="index.html">Terms</a></li>
	<li><a href="index.html">About</a></li>
	<li><a href="index.html">About</a></li>	
      </ul>
  </div>
</body>

<script>
  feather.replace()

  function sizeup(el) {
      el.style.width = "600 px";
  }
      
</script>
