<!DOCTYPE html>

<head>
  <title>Collab | Find your cofounder</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap" rel="stylesheet">   
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="header">
    <!-- <i data-feather="book-open"></i> -->
    <ul class="nav">
      <li id="home_button">Collab</li>      
      <li>Idee</li>
      <li>Feedback</li>
      <li>Login</li>
      <li id="signup">Iscriviti</li>
    </ul>
  </div>
  <div class="page_title">
    Starthub
  </div>
  <div class="content">
	<p>
	    Hai un'idea per una startup ma non le competenze tecniche?</br>Vuoi metterti in contatto con altri studenti appassionati dal mondo imprenditoriale?</br>Sei nel posto giusto
	</p>
	<form action="post/new/">
	  <input id="new-post" type="submit" value="Pubblica un annuncio"/>
	</form>
  </div>
  <!-- <div class="search"> -->
  <!--     <input type="text" name="search"> -->
  <!--   </input> -->
  <!-- </div> -->
  {% for post in post_list %}
  <div class="block_left" id="temp" onclick="sizeup(this)">
      <div class="text">
	  <h3 class="title">{{post.title}}</h3>
	  <h2 class="meta">{{post.description}}</h2>
	  <div class="tags">
        {% for tag in post.tag %}
	    <div class="tag">{{tag}}</div>
	    {% endfor %}
      </div>
      </div>
      <div class="stage">
	  <div class="stage_item" style="background-color:#2a3ffb;opacity:0.7"></div>
	  <div class="pub_date">{{post.publication_date}}</div>	  	  
      </div>
  </div>
  {% endfor %}
  <!-- <div class="block_right"> -->
  <!--   <h3>Pubblica Un Tuo Annuncio</h3> -->
  <!--   <i data-feather="plus" style="flex:1"></i> -->
  <!-- </div> -->


  <div class="footer">
      <ul>
	<li><a href="index.html">About</a></li>
	<li><a href="index.html">Terms</a></li>
	<li><a href="index.html">About</a></li>
	<li><a href="index.html">About</a></li>	
      </ul>
  </div>
</body>

<script>
  feather.replace()

  function sizeup(event) {
      //document.getElementById('temp').innerHTML = "";      
      document.getElementById('temp').classList.toggle("block_selected");      
  }
      
</script>
