{% extends "base.html" %}

{% block content %}
<div class="full_post" id="temp" onclick="sizeup(this)">
  <div class="post_header">
    <h3 class="title">{{post.title}}</h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passagens, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
    <div class="contacts">
      {{ post.email }}
    </div>
    <div style="display: flex; flex-flow: row;">
    <h2 class="meta">{{post.author}}</h2>    
    <h4>{{post.publication_date}}</h4>
    </div>    
  </div>
  <div class="post_body">
    <p>{{post.full_description}}</p>    
  </div>
  <div class="post_footer">
      {% for tag in post.tag %}
      <div class="tag">{{tag}}</div>
      {% endfor %}
  </div>    
</div>


<script>
  function setHeader() {
      document.getElementsByClassName('header')[0].classList.toggle("header_post");
  }
//  window.onload = setHeader;
</script>  

{% endblock %}
