
body {
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 70px 140px 340px repeat(auto-fill, 170px);
    /*    font-family: 'Fira Sans', sans-serif; */
    font-family: 'Abel', sans-serif;    
    /* background-color: #fbf7f0; */
    /* background-color: #2e3548; */
    background-color: #0c1824;    
}

.feather {
    margin: auto;
    color: #F78F3A;
    width: 50px;
    height: 50px;
    stroke-width: 1;
}

.header {
    grid-column: span 12;
    text-align: center;
    font-size: 12px;
    background-color: #0c1824;    
    color: white;
    opacity: 0.9;
    position: -webkit-sticky;
}

.header ul {
    display: flex;
    margin-top: 16px;    
    justify-content: center;
    list-style: none;
}

.header li {
    margin: 0 16px 0 0;
    padding-top: 9px;    
    height: 28px;
    font-size: 19px;
    color: white;
}

.header li a {
    color: white;
}

.header li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.header_post {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 13;    
}

#home_button {
    position: absolute;
    top: 10px;    
    left: 3%;
    font-size: 32px;
    font-weight: 800;
    opacity: 0.8;
    visibility: hidden;
}

#home_button:hover {
    text-decoration: none;
}

#signup_li:hover {
    text-decoration: none;
}

#signup {
    width: 120px;
    height: 28px;
    margin: 0 15px 0 10px;
    padding: 0 10px 0 10px;    
    text-decoration: none;    
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;        
    border: 2px solid white;            
    background-color: white;
    color: black;
}

#signup:hover {
    text-decoration: none;
    border: 2px solid white;    
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: black;
}

.page_title {
    grid-column: span 12;
    padding-top: 24px;
    font-size: 4em;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    background-color: #0c1824;
    color: white;
}

.content {
    grid-column: span 12;
    margin: 0 0 30px 0;
    padding: 20px 20px 10px 20px;
    text-align: center;
    font-size: 22px;
    background-color: #0c1824;
    color: white;
}

#new-post {
    border: none;
    padding: 10px 20px 10px 20px;
    text-align: center;
    border-radius: 2px;
    font-size: 18px;
    background-color: #3f52fb;
    color: white;
    
    -webkit-appearance: button;
}

#new-post:hover {
    text-decoration: none;
}

.block_left, .block_right {
    display: flex;
    flex-flow: row;
    margin-top: 5px;    
    padding-left: 20px;
    grid-column: span 12;  
    font-size: 13px;
    border-radius: 4px;    
    border: solid 0 #0c1824; 
    background-color: #1d2833;
    color: #f0f4f7;    
}

.block_left:hover, .block_right:hover {
    cursor: pointer;
    background-color: #374351;            
}

.text {
    display: flex;
    flex-flow: column;    
    flex: 4;
}

.title {
    flex: 1;
    margin: 0;    
    padding: 35px 0 10px 0;
    font-size: 1.4em;
}

.meta {
    flex: 2;
    margin: 0;
    padding: 0 0 0 4px;
    font-size: 1.2em;    
    opacity: 0.8;
}

.tags {  
    display: flex;
    flex-flow: row;
}

.tag {
    margin: 30px 10px 20px 0px;
    padding: 2px 15px 2px 15px;
    height: 26px;
    width: auto;
    font-size: 17px;        
    text-align: center;    
    border-radius: 4px;
    /* background-color: #f9f871; */
    /* background-color: #89d278; */
    background-color: #1d2833;
    border: solid 1px #3f52fb;;    
    color: white;
}

.stage {
    flex: 2;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    padding: 0 0 20px 0;
}

.stage_item {
    margin-top: 30px;
    background-color: #314455;
    border-radius: 16px;
}

.pub_date {
    margin: 0;
    font-size: 18px;
    opacity: 0.8;
    justify-content:end;
    padding: 0;
}

.full_post {
    display: flex;
    flex-flow: column;
    padding: 0 12px 0 12px;
    grid-column: span 12;    
    grid-row: span 10;
    border-style: solid;    
    border-width: 0px 0px 2px 0px;
    border-radius: 10px;
    font-size: 18px;
    border-color: #0c1824;
    background-color: #1d2833;
    color: #f0f4f7;            
}

.post_header {
    flex: 2;
}

.post_body {
    flex: 6;
}

.post_footer {
    flex: 1;
}

.pagination {
    grid-column: span 12;
    margin: auto;
    padding: 20px 0 0 0;
    font-size: 20px;
    opacity: 0.8;
}

.page-links a {
    padding: 0 20px 0 20px;
    margin: auto;
    color:  #e4e7e9;    
}

.page-current {
    display: inline-block;    
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    font-size: 16px;
    font-weight: 900;
    background-color: #403f43;    
    color:  #e4e7e9;        
}

.footer {
    grid-column: span 12;
    margin: 60px 0 30px 0;
    text-align: center;
    font-size: 19px;
}

.footer ul {
    list-style: none;
}

.footer li {
    display: inline;
    padding-right: 18px;
    color:  #e4e7e9;            
}

.footer a:link {
    text-decoration: none;
    color:  #e4e7e9;            
}

.footer a:visited {
    text-decoration: none;
    color:  #e4e7e9;                
}

.footer a:hover {
    opacity: 0.4;
}

.footer a:active {
    opacity: 0.4;
}

.social_container {
    margin: auto;
}

.social-button {
	background-position: 25px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 50px;
	line-height: 50px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 320px;
	border-radius: 3px;
    margin: 10px auto;
    outline: rgb(255, 255, 255) none 0px;
    padding-left: 85px;
    transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#google-connect {
    background: rgb(255, 255, 255) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/google-plus.png') no-repeat scroll 5px 0px / 50px 50px padding-box border-box;
    border: 1px solid rgb(220, 74, 61);
}

#google-connect:hover {
	border-color: rgb(220, 74, 61);
	background: rgb(220, 74, 61) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/google-plus-white.png') no-repeat scroll 5px 0px / 50px 50px padding-box border-box;
	-webkit-transition: all .8s ease-out;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease-out;
}

#google-connect span {
	box-sizing: border-box;
    color: rgb(220, 74, 61);
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    border: 0px none rgb(220, 74, 61);
    outline: rgb(255, 255, 255) none 0px;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#google-connect:hover span {
	color: #FFF;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

table {
    margin: auto;
    margin-bottom: 10px;
    border-collapse: collapse;
    table-layout: fixed;
}

td,
th {
    padding: 6px;
    text-align: left;
    vertical-align: top;
    word-wrap: break-word;
}

form hr {
    margin-top: 40px;
    width: 40%;
    color: #374351;
}

table input,
textarea,
select {
    margin: 0 6px 6px 0;
    padding: 4px 0 4px 10px;
    width: 70%;    
    border: none;
    border-radius: 6px;
    outline: none;
    font-size: 18px;
    background-color: #374351;
    color: #f0f4f7;
}

#back_button {
    margin: 0 40px 0 0;
    height: 100px;
    font-size: 20px;
    color: #f0f4f7;
}

#back_button:hover {
    opacity: 0.8;
}

#back_arrow {
    height: 24px;
    vertical-align: middle;
    stroke-width: 2px;
    color: #f0f4f7;
}

#submit_button {
    width: 150px;
    height: 40px;
    margin: 50px 0 0 0;
    text-align: center;
    font-size: 18px;
    border-radius: 6px;        
    border: 2px solid #3f52fb;     
    background-color: #3f52fb;
    color:#f0f4f7;
}

#submit_button:hover {
    opacity: 0.8;
}


@media only screen and (min-width: 1200px)   {
    body {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 80px 135px 280px repeat(auto-fill, 180px);
    }

    .header li {
        font-size: 21px;
    }
    
    #home_button {
        visibility: visible;
    }
    
    #signup {
	    margin: 7px 0 0 32px;
	    padding: 1px 28px 1px 28px;
	    text-decoration: none;
        border-radius: 2px;
        font-weight: 800;
    }

    #signup:hover {
        text-decoration: none;
        opacity: 0.8;
    }

    .page_title {
	    font-size: 5em;
    }

    #new-post {
	    margin: 0 25px 0 0;
	    padding: 10px 20px 10px 20px;
	    text-align: center;
	    font-size: 18px;
	    border-radius: 2px;
        background-color: #3f52fb;        
	    color: white;
        
    }

    #new-post:hover {
        opacity: 0.9;
    }
    
    .block_left {         
        margin: 6px 15px 0px 25px;
        padding: 0 0 0 80px;	
        grid-column: 4/10;
        min-width: 400px;	
        font-size: 14px;
        border-radius: 4px;        
        border-style: solid;
        border-width: 0px;
        border-color: #0c1824;
        background-color: #1d2833;
        color: #f0f4f7;
    }

    .block_left:hover {
        background-color: #374351;
    }

    .block_right {
	    display: flex;
	    flex-flow: row;
        grid-column: 9/11;
        grid-row: span 1;
	    padding: 0;
    }

    .block_right h3 {
	    margin: auto;
	    padding-left: 10%;
	    font-size: 19px;
    }

    .stage {
	    text-align: end;
	    padding: 0 30px 20px 0;	
    }

    form {
        grid-column: 3/11;
        margin: auto;
        width: 60%;
	    padding: 20px 0 20px 0;
    }

    form input {

    }

    form table {

    }
    
    .full_post {
        display: flex;
        flex-flow: column;
        grid-column: 4/10;
        margin: 50px 15px 0px 25px;
        padding: 0 30px 0 30px;	
        border-radius: 10px;
        font-size: 20px;
        border-color: #0c1824;
        background-color: #1d2833;
    }

    .social-button {
        width: 400px;
        padding-left: 150px;        
    }
}    
