
body {
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 280px 180px 100px 310px 310px 310px 310px 310px 310px;
    font-family: 'Abel', sans-serif;
    background-color: #F9F9F9;
    padding: 0 10px 0 10px;	
}

.feather {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 50px;
    color: #F78F3A; /* #252541  color palette*/
    width: 30px;
    height: 30px;
}

.header {
    grid-column: span 12;
    text-align: center;
    font-size: 10px;
    background-color: #F9F9F9; /* #F76C6C;  05c18c */
    position: -webkit-sticky;
}

.header ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 20px;
}

.header li {
    margin-right: 20px;
    height: 28px;
    font-size: 20px;
    color: black;
    padding-top: 9px;
}

.header li:hover {
    color: #F78F3A;
    cursor: pointer;
    opacity: 0.6;
}

#signup {
    width: 120px;
    height: 28px;
    margin: 7px 0 0 32px;
    padding: 2px 4px 0 4px;
    background-color: #2575fc; //#F78F3A;
    color: white;
    text-align: center;
    border-radius: 2px;
    font-size: 19px;
}

.search {
    //    grid-column: span 12;
    text-align: center;
    grid-column: 4/10;
}

.search input {
    height: 40px;
    width: 40%;
    background-color: white;
    border-radius: 20px;
    border-style: none;
    font-size : 18px;
    padding-left: 25px;
    color: #314455;
}

.search input:focus {
    animation: enlarge_width 0.3s forwards;
}

@keyframes enlarge_width {
    from {
//	width: 40%;
    }
    to {
	width: 70%;
    }
}

.page_title {
    grid-column: span 12;
    font-size: 80px;
    font-weight: 800;
    text-align: center;
    opacity: 0.7;
}

.block {
    display: flex;
    flex-flow: row;
    margin: 10px 5px 5px 5px;
    padding: 0 0 0 80px;
    grid-column: span 12;
    background-color: white;
    border-radius: 5px;
  //  box-shadow: 2px 6px 10px #E1E1E1;
}

.block:hover {
    transform: scale(1.01);
    cursor: pointer;
    //    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);        
}

.text {
    flex: 2;
    display: flex;
    flex-flow: column;
}

.title {
    flex: 1;
    margin: 0;    
    padding: 35px 0 10px 0;
    color: #314455;
}

.meta {
    flex: 2;
    margin: 0;
    padding: 0 0 0 0;
    font-size: 14px;
    color: #314455;
    opacity: 0.5;
}

.tag {
    font-size: 17px;    
    height: 24px;
    width: 50%;
    margin: 30px 0 20px 0px;
    padding: 0 10px 0 10px;
    border-radius: 25px;
    text-align: center;    
    background-color: #F9F9F9;
    //    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 0%);
    //background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);    
    //    box-shadow: 2px 6px 10px #E1E1E1;
}

.stage {
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-left: 32%;
    padding-bottom: 7%;    
}

.stage_item {
    margin-top: 30px;
    background-color: #314455;
    opacity: 0.06;
    width: 16px;
    height: 16px;
    border-radius: 16px;
}

.content {
    grid-column: 2/12;
    padding: 15px 20px 0 20px;
    text-align: center;
    font-size: 20px; // 22px for long paragraphs
}

mark {
    background-color: #ffb77c; //#ff9f51
    color: white;
    padding: 0 3px 0 3px;
}

.footer {
    grid-column: span 12;
    grid-column: span 4 / span 2;    
    padding: 100px 0 0 0;
    text-align: right;
    font-size: 18px;
}

.footer li {
    list-style: none;
}

.footer a:link {
    text-decoration: none;
    color: black;
}

.footer a:visited {
    text-decoration: none;
    color: black;    
}

.footer a:hover {
    opacity: 0.4;
}

.footer a:active {
    opacity: 0.4;
}

@media only screen and (min-width: 600px)   {
    body {
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 50px 160px 200px 100px 220px 220px 220px 300px;
	padding: 0 350px 0 350px;	
    }

    .block {
	margin: 20px 25px 5px 25px;
	grid-column: span 6;
	background-color: white;
	border-radius: 5px;
//	box-shadow: 2px 6px 10px #E1E1E1;
	font-size: 12px;
    }
}    
