
body {
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px 200px 280px repeat(auto-fill, 220px);
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Abel', sans-serif;    
    /* background-color: #F9F9F9; */
    background-color: #f2f7fc;
    background-color: #fbf7f0;
}

.feather {
    margin: auto;
    color: #F78F3A; /* #252541  color palette*/
    width: 50px;
    height: 50px;
    stroke-width: 1;
}

.header {
    grid-column: span 12;
    text-align: center;
    font-size: 12px;
    background-color: #f2f7fc;
    position: -webkit-sticky;
    box-shadow: 0px 3px 2px #E1E1E1;
}

.header ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 20px;
}

.header li {
    margin-right: 20px;
    height: 28px;
    font-size: 21px;
    color: black;
    padding-top: 9px;
}

.header li:hover {
    text-decoration: underline;
    cursor: pointer;
}

#home_button {
    position: absolute;
    left: 3%;
    top: 10px;
    font-size: 32px;
    font-weight: 800;
    opacity: 0.8;
    visibility: hidden;
}

#home_button:hover {
    text-decoration: none;
}

#signup {
    width: 120px;
    height: 28px;
    margin: 7px 25px 0 0;
    padding: 2px 4px 3px 4px;
    background-color: #2a3ffb;
    color: white;
    text-align: center;
    border-radius: 2px;
    font-size: 22px;
}

#signup:hover {
    text-decoration: none;
    opacity: 0.8;    
}

.search {
    /* grid-column: span 12; */
    text-align: center;
    grid-column: 4/10;
}

.search input {
    height: 40px;
    width: 40%;
    background-color: white;
    border-radius: 20px;
    border-style: none;
    font-size : 18px;
    padding-left: 25px;
    color: #314455;
}

.search input:focus {
    animation: enlarge_width 0.3s forwards;
}

/*@keyframes enlarge_width {
    from {
//	width: 40%;
    }
    to {
	width: 70%;
    }
} */

.page_title {
    grid-column: span 12;
    padding-top: 50px;
    font-size: 4em;
    font-weight: 600;
    text-align: center;
    opacity: 0.9;
    background-color: white;
}

.content {
    grid-column: span 12;
    padding: 50px 20px 0 20px;
    text-align: center;
    font-size: 22px;
//    box-shadow: 20px -6px 2px #E1E1E1;    
}

.block_left, .block_right {
    display: flex;
    flex-flow: row;
    margin: 0;
    padding-left: 20px;
    grid-column: span 12;  
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 6px 10px #E1E1E1;
    box-shadow: 0px 0px -1px #e0e0e0;
    font-size: 14px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #f0f0f0;
 }

.block_left:hover, .block_right:hover {
    /* transform: scale(1.01); */
    cursor: pointer;
    background-color: #f8f8f8;    
    //    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);        
}

.text {
    flex: 4;
    display: flex;
    flex-flow: column;
}

.title {
    flex: 1;
    margin: 0;    
    padding: 35px 0 10px 0;
    font-size: 1.4em;
}

.meta {
    flex: 2;
    margin: 0;
    padding: 0 0 0 4px;
    font-size: 1.2em;    
    opacity: 0.8;
}

.tags {
    display: flex;
    flex-flow: row;
}

.tag {
    font-size: 17px;    
    height: 26px;
    width: 35%;
    margin: 30px 10px 20px 0px;
    text-align: center;    
    background-color: #fdfdfd; 
    border: 1px solid #f1f1f1;
    border-radius: 2px;    
}

.tag:hover {
    border: 1px solid #ffafaf;
}

.stage {
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-left: 5%;
    padding-bottom: 3%;
}

.stage_item {
    margin-top: 30px;
    background-color: #314455;
    opacity: 0.06;
    width: 14px;
    height: 14px;
    border-radius: 16px;
}

mark {
    background-color: #ffb77c;
    color: white;
    padding: 0 3px 0 3px;
}

.footer {
    grid-column: span 12;
    margin: 150px 0 60px 0;
    text-align: center;
    font-size: 19px;
}

.footer ul {
    list-style: none;
}

.footer li {
    display: inline;
    padding-right: 18px;
}

.footer a:link {
    text-decoration: none;
    color: black;
}

.footer a:visited {
    text-decoration: none;
    color: black;    
}

.footer a:hover {
    opacity: 0.4;
}

.footer a:active {
    opacity: 0.4;
}

@media only screen and (min-width: 1200px)   {
    body {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 80px 230px 230px repeat(auto-fill, 180px);
    }

    #home_button {
        visibility: visible;
    }
    
    #signup {
	margin: 7px 0 0 32px;
    }

    .page_title {
	font-size: 5em;
    }
    
    .block_left {
        margin: 0px 15px 0px 25px;
        padding: 0 0 0 80px;	
        grid-column: 4/10;
        min-width: 400px;	
        background-color: white;
        border-radius: 0px;
        box-shadow: 0px 0px -1px #e0e0e0;
        font-size: 14px;

        border-style: solid;
        border-width: 0px 0px 2px 0px;
        border-color: #f0f0f0;
    }

    .block_left:hover {
    	background-color: #f8f8f8;
    }

    .block_right {
        grid-column: 9/11;
        grid-row: span 1;
	display: flex;
	flex-flow: row;
	padding: 0;
    }

    .block_right h3 {
	margin: auto;
	padding-left: 10%;
	font-size: 19px;
    }

    .stage {
	padding-left: 32%;
    }
}    
